## Data Types and Structures Questions

###### Q1) What are data structures, and why are they important?
Data structures are specialized formats for organizing, storing, and managing data in a computer so it can be used efficiently.
They're critically important because the choice of data structure directly affects a program's performance and efficiency.

###### Q2)Explain the difference between mutable and immutable data types with examples?
Mutable data types can be changed or modified in-place after they are created. Immutable data types cannot be changed once created
For example, a list in Python is mutable, so you can add or remove elements. A string or a tuple is immutable.

###### Q3)What are the main differences between lists and tuples in Python?
a list in Python is mutable while a tuple is immutable but faster then list

###### Q4)Describe how dictionaries store data?
Dictionaries store data as key-value pairs using a powerful technique called hashing. This method allows for extremely fast data retrieval, making dictionaries highly efficient.

###### Q5)Why might you use a set instead of a list in Python?
 a set instead of a list primarily for two reasons: to guarantee that all elements are unique and to perform extremely fast membership testing (checking if an item is in the collection).

###### Q6)What is a string in Python, and how is it different from a list?
A string in Python is an immutable sequence of characters, used to represent text data. While both strings and lists are ordered sequences that you can index and slice, their main differences lie in mutability and the type of elements they can hold.

###### Q7) How do tuples ensure data integrity in Python?
Tuples ensure data integrity in Python primarily through their immutability. Because a tuple cannot be changed after it's created, it acts as a secure, read-only container for data, protecting it from accidental or unauthorized modification.

###### Q8)What is a hash table, and how does it relate to dictionaries in Python?
A hash table is a data structure that stores data as key-value pairs by using a hash function to compute an index into an array of "buckets" or "slots." The Python dictionary is the language's built-in implementation of a hash table; it's the underlying engine that gives dictionaries their speed.

###### Q9)Can lists contain different data types in Python?
Yes

###### Q10)Explain why strings are immutable in Python?
Strings are immutable in Python primarily for reasons of efficiency, security, and predictability. This design choice prevents accidental data modification and allows for significant memory optimizations by the Python interpreter.

###### Q11)What advantages do dictionaries offer over lists for certain tasks?
The most crucial advantage of a dictionary is its incredibly fast lookup speed.
Dictionaries store data as key-value pairs, which makes the code more readable and self-documenting.

###### Q12)Describe a scenario where using a tuple would be preferable over a list?
Storing user's contact information.

###### Q13) How do sets handle duplicate values in Python?
A set is designed as a collection of distinct items. Under the hood, sets are implemented using a hash table, similar to dictionaries. When you try to add an item, Python calculates the item's hash value to determine where to store it.
if an item with the same hash value and an equal value is already in that location, the set recognizes it as a duplicate. Instead of raising an error or storing it again, the add() operation simply does nothing, and the set remains unchanged. This process is silent and efficient.

###### Q14)How does the “in” keyword work differently for lists and dictionaries?
The in keyword works differently because it checks for values in a list but checks for keys in a dictionary

###### Q15)Can you modify the elements of a tuple? Explain why or why not?
No, Because tuple is immutable

###### Q16)What is a nested dictionary, and give an example of its use case?
A nested dictionary is a dictionary where the value associated with a key is another dictionary. This structure is extremely useful for storing and organizing complex, hierarchical data in a structured way such as such as employee data for a company.

###### Q17)Describe the time complexity of accessing elements in a dictionary?
The time complexity of accessing elements in a dictionary is O(1) or constant time on average

###### Q18) In what situations are lists preferred over dictionaries?
Lists are preferred over dictionaries in situations where the order of elements is critical and when you're working with a simple, sequential collection of items accessed by their position.\
ex: playlist of songs

###### Q19)Why are dictionaries considered unordered, and how does that affect data retrieval?
Historically, dictionaries were considered unordered because their internal structure is a hash table, which organizes data by a key's hash value, not by its insertion sequence, it makes retrieving data by its key incredibly fast

###### Q20)Explain the difference between a list and a dictionary in terms of data retrieval.
The primary difference is that lists retrieve data by its numeric position (index), while dictionaries retrieve data by a unique label (key). This makes their performance for finding data fundamentally different
The retrieval time remains extremely fast and is largely unaffected by the size of the dictionary

# Practical Questions

###### Q1)Write a code to create a string with your name and print it?

In [1]:
name=input("enter your name: ")
print(name)

enter your name: Bibek
Bibek

###### Q2)Write a code to find the length of the string "Hello World"?

In [2]:
len("Hello World")

11

###### Q3)Write a code to slice the first 3 characters from the string "Python Programming"?

In [3]:
string="Python Programming"
string[0:3]

'Pyt'

###### Q4)Write a code to convert the string "hello" to uppercase?

In [4]:
string1="hello"
string1.upper()

'HELLO'

###### Q5)Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [5]:
string2="I Like apple"
string2.replace("apple","orange")

'I Like orange'

###### Q6)Write a code to create a list with numbers 1 to 5 and print it?

In [6]:
print(list(range(1,6)))

[1, 2, 3, 4, 5]

###### Q7)Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [7]:
l1=[1,2,3,4]
l1.append(10)

In [8]:
l1

[1, 2, 3, 4, 10]

###### Q8) Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [9]:
l2=[1,2,3,4,5]
l2.remove(3)

In [10]:
l2

[1, 2, 4, 5]

###### Q9)Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

In [11]:
l3=["a","b","c","d"]
print(l3[1])

b

###### Q10) Write a code to reverse the list [10, 20, 30, 40, 50].

In [12]:
l3=[10,20,30,40,50]
l3[::-1]

[50, 40, 30, 20, 10]

###### Q11)Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [13]:
t1=(100,200,300)
print(t1)

(100, 200, 300)

###### Q12)Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?

In [14]:
t2=("red","green","blue","yellow")
t2[1]

'green'

###### Q13)Write a code to find the minimum number in the tuple (10, 20, 5, 15)?

In [15]:
t3=(10,20,5,15)
min(t3)

5

###### Q14)Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?

In [16]:
t4=("dog","cat","rabbit")
t4.index("cat")

1

###### Q15)Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [17]:
fruit=("apple","banana","kiwi")
"kiwi" in fruit

True

###### Q16)Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [18]:
s1={"a","b","c"}
print(s1)

{'a', 'c', 'b'}

###### Q17)Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [19]:
s2={1,2,3,4,5}
s2.clear()

In [20]:
print(s2)

set()

###### Q18)Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [21]:
s3={1,2,3,4}
s3.remove(4)

In [22]:
print(s3)

{1, 2, 3}

###### Q19)Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [23]:
s4={1,2,3}
s5={3,4,5}
s4 | s5

{1, 2, 3, 4, 5}

###### Q20) Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [24]:
s6={1,2,3}
s7={2,3,4}
s6 & s7

{2, 3}

###### Q21)Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [25]:
d1={"name":"bibek","age":22,"city":"Bhadrak"}
print(d1)

{'name': 'bibek', 'age': 22, 'city': 'Bhadrak'}

###### Q22)Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [26]:
d2={"name":"john","age":25}
d2["country"]="USA"

In [27]:
print(d2)

{'name': 'john', 'age': 25, 'country': 'USA'}

###### Q23)Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [28]:
d3={'name': 'Alice', 'age': 30}

In [29]:
d3["name"]

'Alice'

###### Q24)Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [30]:
d4={'name': 'Bob', 'age': 22, 'city': 'New York'}
d4.pop("age")

22

In [31]:
d4

{'name': 'Bob', 'city': 'New York'}

###### Q25)rite a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [32]:
d5={'name': 'Alice', 'city': 'Paris'}
"city" in d5.keys()

True

###### Q26)Write a code to create a list, a tuple, and a dictionary, and print them all.

In [33]:
l=[1,2,3]
t=(1,2,3)
d={1:1,2:2,3:3}
print(l)
print(t)
print(d)

[1, 2, 3]
(1, 2, 3)
{1: 1, 2: 2, 3: 3}

###### Q27)Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result (replaced)

In [34]:
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[19, 45, 54, 78, 87]

###### Q28)Write a code to create a list with strings and print the element at the third index.

In [35]:
ls=["Bibek","Data Science","student","good"]
ls[3]

'good'

###### Q29)Write a code to combine two dictionaries into one and print the result.

In [36]:
d1 = {'name': 'Alice', 'age': 25}
d2 = {'city': 'New York', 'job': 'Engineer'}
combined_dict = {**d1, **d2}
print(combined_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York', 'job': 'Engineer'}

###### Q30)Write a code to convert a list of strings into a set.

In [37]:
ls=["Bibek","Data Science","student","good"]
set(ls)

{'Bibek', 'Data Science', 'good', 'student'}